# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [57]:
# Import your libraries:
%matplotlib inline

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import re

from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.datasets import load_diabetes
from sklearn.preprocessing import PolynomialFeatures, StandardScaler

# Challenge 1 - Explore the Scikit-Learn Datasets

Before starting to work on our own datasets, let's first explore the datasets that are included in this Python library. These datasets have been cleaned and formatted for use in ML algorithms.

First, we will load the diabetes dataset. Do this in the cell below by importing the datasets and then loading the dataset  to the `diabetes` variable using the `load_diabetes()` function ([documentation](https://scikit-learn.org/stable/modules/generated/sklearn.datasets.load_diabetes.html)).

In [3]:
# Your code here:
# Load the data with only two features
diabetes = load_diabetes()

Let's explore this variable by looking at the different attributes (keys) of `diabetes`. Note that the `load_diabetes` function does not return dataframes. It returns you a Python dictionary.

In [4]:
# Your code here:
# Looking at the different attributes:
diabetes.keys()

dict_keys(['data', 'target', 'DESCR', 'feature_names', 'data_filename', 'target_filename'])

#### The next step is to read the description of the dataset. 

Print the description in the cell below using the `DESCR` attribute of the `diabetes` variable. Read the data description carefully to fully understand what each column represents.

*Hint: If your output is ill-formatted by displaying linebreaks as `\n`, it means you are not using the `print` function.*

In [5]:
# Your code here:
print(diabetes['DESCR'])

.. _diabetes_dataset:

Diabetes dataset
----------------

Ten baseline variables, age, sex, body mass index, average blood
pressure, and six blood serum measurements were obtained for each of n =
442 diabetes patients, as well as the response of interest, a
quantitative measure of disease progression one year after baseline.

**Data Set Characteristics:**

  :Number of Instances: 442

  :Number of Attributes: First 10 columns are numeric predictive values

  :Target: Column 11 is a quantitative measure of disease progression one year after baseline

  :Attribute Information:
      - Age
      - Sex
      - Body mass index
      - Average blood pressure
      - S1
      - S2
      - S3
      - S4
      - S5
      - S6

Note: Each of these 10 feature variables have been mean centered and scaled by the standard deviation times `n_samples` (i.e. the sum of squares of each column totals 1).

Source URL:
https://www4.stat.ncsu.edu/~boos/var.select/diabetes.html

For more information see:
Bradley Efron, Trevor Hastie, Iain Johnstone and Robert Tibshirani (2004) "Least Angle Regression," Annals of Statistics (with discussion), 407-499.
(https://web.stanford.edu/~hastie/Papers/LARS/LeastAngle_2002.pdf)

#### Based on the data description, answer the following questions:

1. How many attributes are there in the data? What do they mean?

1. What is the relation between `diabetes['data']` and `diabetes['target']`?

1. How many records are there in the data?

In [ ]:
# Enter your answer here:

# 1. How many attributes are there in the data? What do they mean?
# There are 10 attributes in the data

# 2. What is the relation between diabetes['data'] and diabetes['target']?
# The variables in diabetes[data] are being used in order to predict diabetes[target]
# The variables in diabetes data are independent variables and diabetes target is the dependent variable.

# 3. How many records are there in the data?
# There are 442 patients and 11 variables so there are 442 * 11 = 4862 items.

#### Now explore what are contained in the *data* portion as well as the *target* portion of `diabetes`. 

Scikit-learn typically takes in 2D numpy arrays as input (though pandas dataframes are also accepted). Inspect the shape of `data` and `target`. Confirm they are consistent with the data description.

In [11]:
# Your code here:

# Printing the diabetes data:
print(diabetes['data'])

# Converting to dataframe:
data = pd.DataFrame(diabetes.data)
data

data.shape

[[ 0.03807591  0.05068012  0.06169621 ... -0.00259226  0.01990842
  -0.01764613]
 [-0.00188202 -0.04464164 -0.05147406 ... -0.03949338 -0.06832974
  -0.09220405]
 [ 0.08529891  0.05068012  0.04445121 ... -0.00259226  0.00286377
  -0.02593034]
 ...
 [ 0.04170844  0.05068012 -0.01590626 ... -0.01107952 -0.04687948
   0.01549073]
 [-0.04547248 -0.04464164  0.03906215 ...  0.02655962  0.04452837
  -0.02593034]
 [-0.04547248 -0.04464164 -0.0730303  ... -0.03949338 -0.00421986
   0.00306441]]

(442, 10)

In [12]:
# Printing the diabetes target:
print(diabetes['target'])

# Converting to dataframe:
target = pd.DataFrame(diabetes.target)
target

target.shape

[151.  75. 141. 206. 135.  97. 138.  63. 110. 310. 101.  69. 179. 185.
 118. 171. 166. 144.  97. 168.  68.  49.  68. 245. 184. 202. 137.  85.
 131. 283. 129.  59. 341.  87.  65. 102. 265. 276. 252.  90. 100.  55.
  61.  92. 259.  53. 190. 142.  75. 142. 155. 225.  59. 104. 182. 128.
  52.  37. 170. 170.  61. 144.  52. 128.  71. 163. 150.  97. 160. 178.
  48. 270. 202. 111.  85.  42. 170. 200. 252. 113. 143.  51.  52. 210.
  65. 141.  55. 134.  42. 111.  98. 164.  48.  96.  90. 162. 150. 279.
  92.  83. 128. 102. 302. 198.  95.  53. 134. 144. 232.  81. 104.  59.
 246. 297. 258. 229. 275. 281. 179. 200. 200. 173. 180.  84. 121. 161.
  99. 109. 115. 268. 274. 158. 107.  83. 103. 272.  85. 280. 336. 281.
 118. 317. 235.  60. 174. 259. 178. 128.  96. 126. 288.  88. 292.  71.
 197. 186.  25.  84.  96. 195.  53. 217. 172. 131. 214.  59.  70. 220.
 268. 152.  47.  74. 295. 101. 151. 127. 237. 225.  81. 151. 107.  64.
 138. 185. 265. 101. 137. 143. 141.  79. 292. 178.  91. 116.  86. 122.
  72. 129. 142.  90. 158.  39. 196. 222. 277.  99. 196. 202. 155.  77.
 191.  70.  73.  49.  65. 263. 248. 296. 214. 185.  78.  93. 252. 150.
  77. 208.  77. 108. 160.  53. 220. 154. 259.  90. 246. 124.  67.  72.
 257. 262. 275. 177.  71.  47. 187. 125.  78.  51. 258. 215. 303. 243.
  91. 150. 310. 153. 346.  63.  89.  50.  39. 103. 308. 116. 145.  74.
  45. 115. 264.  87. 202. 127. 182. 241.  66.  94. 283.  64. 102. 200.
 265.  94. 230. 181. 156. 233.  60. 219.  80.  68. 332. 248.  84. 200.
  55.  85.  89.  31. 129.  83. 275.  65. 198. 236. 253. 124.  44. 172.
 114. 142. 109. 180. 144. 163. 147.  97. 220. 190. 109. 191. 122. 230.
 242. 248. 249. 192. 131. 237.  78. 135. 244. 199. 270. 164.  72.  96.
 306.  91. 214.  95. 216. 263. 178. 113. 200. 139. 139.  88. 148.  88.
 243.  71.  77. 109. 272.  60.  54. 221.  90. 311. 281. 182. 321.  58.
 262. 206. 233. 242. 123. 167.  63. 197.  71. 168. 140. 217. 121. 235.
 245.  40.  52. 104. 132.  88.  69. 219.  72. 201. 110.  51. 277.  63.
 118.  69. 273. 258.  43. 198. 242. 232. 175.  93. 168. 275. 293. 281.
  72. 140. 189. 181. 209. 136. 261. 113. 131. 174. 257.  55.  84.  42.
 146. 212. 233.  91. 111. 152. 120.  67. 310.  94. 183.  66. 173.  72.
  49.  64.  48. 178. 104. 132. 220.  57.]

(442, 1)

# Challenge 2 - Perform Supervised Learning on the Dataset

The data have already been split to predictor (*data*) and response (*target*) variables. Given this information, we'll apply what we have previously learned about linear regression and apply the algorithm to the diabetes dataset.

#### Let's briefly revisit the linear regression formula:

```
y = β0 + β1X1 + β2X2 + ... + βnXn + ϵ
```

...where:

- X1-Xn: data 
- β0: intercept 
- β1-βn: coefficients 
- ϵ: error (cannot explained by model)
- y: target

Also take a look at the `sklearn.linear_model.LinearRegression` [documentation](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LinearRegression.html).

#### In the cell below, import the `linear_model` class from `sklearn`.

In [13]:
# Your code here:
from sklearn.linear_model import LinearRegression

#### Create a new instance of the linear regression model and assign the new instance to the variable `diabetes_model`.

In [32]:
# Your code here:
X = diabetes.data
y = diabetes.target

In [33]:
# Standard scaler, scales it all to a standardized value:
scaler = StandardScaler()
X_std = scaler.fit_transform(X)

In [40]:
# Create linear regression
diabetes_model = LinearRegression()

#### Next, let's split the training and test data.

Define `diabetes_data_train`, `diabetes_target_train`, `diabetes_data_test`, and `diabetes_target_test`. Use the last 20 records for the test data and the rest for the training data.

In [45]:
# Your code here:
X_train, X_test, y_train, y_test = train_test_split(X_std, y, test_size=20, random_state = 29)

In [46]:
diabetes_data_train = X_train  
diabetes_target_train = y_train  
diabetes_data_test = X_test 
diabetes_target_test = y_test

Fit the training data and target to `diabetes_model`. Print the *intercept* and *coefficients* of the model.

In [50]:
# Your code here:
diabetes_model.fit(diabetes_data_train, diabetes_target_train)

#For retrieving the slope:
print(diabetes_model.coef_)

#To retrieve the intercept:
print(diabetes_model.intercept_)

[  0.26137005 -11.55473051  24.45180981  15.5856971  -36.90935306
  22.19818875   4.35209188   9.75560007  34.62499528   1.24408297]
151.10443702022616

#### Inspecting the results

From the outputs you should have seen:

- The intercept is a float number.
- The coefficients are an array containing 10 float numbers.

This is the linear regression model fitted to your training dataset.

#### Using your fitted linear regression model, predict the *y* of `diabetes_data_test`.

In [51]:
# Your code here:
y_pred = diabetes_model.predict(diabetes_data_test)
score = diabetes_model.score(diabetes_data_test, y_pred)

print(y_pred)

[285.07661    250.13244832 188.54122779  38.16644459 105.43967516
 152.34876854  84.07420854 110.04099148 157.4878489   67.98059177
 155.53938699 226.70874219 102.6651831  178.93274333 143.04033935
 112.35095735  65.48688306 123.94485566 188.15767857 111.04557826]

#### Print your `diabetes_target_test` and compare with the prediction.

In [53]:
# Your code here:
print(diabetes_target_test)

[230. 336. 283. 104. 125. 134.  55. 142. 206.  83. 185. 317.  47. 283.
 185.  69.  52.  92. 272. 102.]

#### Is `diabetes_target_test` exactly the same as the model prediction? Explain.

In [ ]:
# Your explanation here:

# The data is not the same. However, it can be seen that in general when the y_pred is lower, 
# the diabetes_target_test values are lower as well.

# Bonus Challenge 1 - Hypothesis Testing with `statsmodels`

After generating the linear regression model from the dataset, you probably wonder: then what? What is the statistical way to know if my model is reliable or not?

Good question. We'll discuss that using Scikit-Learn in Challenge 5. But for now, let's use a fool-proof way by using the ([Linear Regression class of StatsModels](https://www.statsmodels.org/dev/regression.html)) which can also conduct linear regression analysis plus much more such as calcuating the F-score of the linear model as well as the standard errors and t-scores for each coefficient. The F-score and t-scores will tell you whether you can trust your linear model.

To understand the statistical meaning of conducting hypothesis testing (e.g. F-test, t-test) for slopes, read [this webpage](https://onlinecourses.science.psu.edu/stat501/node/297/) at your leisure time. We'll give you a brief overview next.

* The F-test of your linear model is to verify whether at least one of your coefficients is significantly different from zero. Translating that into the *null hypothesis* and *alternative hypothesis*, that is:

    ```
    H0 : β1 = β2 = ... = β10 = 0
    HA : At least one βj ≠ 0 (for j = 1, 2, ..., 10)
    ```

* The t-tests on each coefficient is to check whether the confidence interval for the variable contains zero. If the confidence interval contains zero, it means the null hypothesis for that variable is not rejected. In other words, this particular vaiable is not contributing to your linear model and you can remove it from your formula.

Read the documentations of [StatsModels Linear Regression](https://www.statsmodels.org/dev/regression.html) as well as its [`OLS` class](https://www.statsmodels.org/dev/generated/statsmodels.regression.linear_model.OLS.html) which stands for *ordinary least squares*.

#### In the next cell, analyze `diabetes_data_train` and `diabetes_target_train` with the linear regression model of `statsmodels`. Print the fit summary.

Your output should look like:

![statsmodels regression](../statsmodels.png)

In [ ]:
# Your code here:

#### Interpreting hypothesis testing results

Answer the following questions in the cell below:

1. What is the F-score of your linear model and is the null hypothesis rejected?

1. Does any of the t-tests of the coefficients produce a confidence interval containing zero? What are they?

1. How will you modify your linear reguression model according to the test results above?

In [ ]:
# Your answers here:

# Challenge 3 - Peform Supervised Learning on a Pandas Dataframe

Now that we have dealt with data that has been formatted for scikit-learn, let's look at data that we will need to format ourselves.

In the next cell, load the `auto-mpg.csv` file included in this folder and assign it to a variable called `auto`.

In [139]:
# Your code here:
import numpy as np

auto = pd.read_csv('auto-mpg.csv')
#auto = np.loadtxt(autompg)

Look at the first 5 rows using the `head()` function:

In [140]:
# Your code here:
auto.head()

,mpg,cylinders,displacement,horse_power,weight,acceleration,model_year,car_name
0,18.0,8,307.0,130.0,3504,12.0,70,"\t""chevrolet chevelle malibu"""
1,15.0,8,350.0,165.0,3693,11.5,70,"\t""buick skylark 320"""
2,18.0,8,318.0,150.0,3436,11.0,70,"\t""plymouth satellite"""
3,16.0,8,304.0,150.0,3433,12.0,70,"\t""amc rebel sst"""
4,17.0,8,302.0,140.0,3449,10.5,70,"\t""ford torino"""

Evaluate the data to ensure that all numeric columns are correctly detected as such by pandas. If a column is misclassified as object, coerce it to numeric.

In [141]:
# Your code here:
auto.dtypes

mpg             float64
cylinders         int64
displacement    float64
horse_power     float64
weight            int64
acceleration    float64
model_year        int64
car_name         object
dtype: object

In [142]:
auto["car_name"]= auto["car_name"].apply(pd.to_numeric, errors='coerce')

auto.dtypes

mpg             float64
cylinders         int64
displacement    float64
horse_power     float64
weight            int64
acceleration    float64
model_year        int64
car_name        float64
dtype: object

What is the newest model year and the oldest model year?

In [143]:
# Your code here:
auto.describe()

# The oldest model_year is: 1970
# The newest model_year is: 1982

,mpg,cylinders,displacement,horse_power,weight,acceleration,model_year,car_name
count,398.000000,398.000000,398.000000,392.000000,398.000000,398.000000,398.000000,0.0
mean,23.514573,5.454774,193.425879,104.469388,2970.424623,15.568090,76.010050,NaN
std,7.815984,1.701004,104.269838,38.491160,846.841774,2.757689,3.697627,NaN
min,9.000000,3.000000,68.000000,46.000000,1613.000000,8.000000,70.000000,NaN
25%,17.500000,4.000000,104.250000,75.000000,2223.750000,13.825000,73.000000,NaN
50%,23.000000,4.000000,148.500000,93.500000,2803.500000,15.500000,76.000000,NaN
75%,29.000000,8.000000,262.000000,126.000000,3608.000000,17.175000,79.000000,NaN
max,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000,NaN

Check the dataset for missing values and remove all rows containing at least one missing value.

In [144]:
# Your code here:
# check the missing values:
auto.isna().sum()

mpg               0
cylinders         0
displacement      0
horse_power       6
weight            0
acceleration      0
model_year        0
car_name        398
dtype: int64

In [146]:
# Remove all rows containing missing values:

# Since the car_name column has many missing values, the car_name column will be dropped entirely: 
auto_1 = auto.drop(['car_name'], axis = 1)
auto_1

# Then the rows of horse_power with missing values will be dropped:
auto_2 = auto_1.dropna(axis = 0)
auto_2

,mpg,cylinders,displacement,horse_power,weight,acceleration,model_year
0,18.0,8,307.0,130.0,3504,12.0,70
1,15.0,8,350.0,165.0,3693,11.5,70
2,18.0,8,318.0,150.0,3436,11.0,70
3,16.0,8,304.0,150.0,3433,12.0,70
4,17.0,8,302.0,140.0,3449,10.5,70
...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82
394,44.0,4,97.0,52.0,2130,24.6,82
395,32.0,4,135.0,84.0,2295,11.6,82
396,28.0,4,120.0,79.0,2625,18.6,82
397,31.0,4,119.0,82.0,2720,19.4,82

Find the frequency table for the `cylinders` column using the `value_counts()` function. How many possible values of cylinders are there?

In [147]:
# Your code here:
auto_cyl = auto_2['cylinders'].value_counts()
auto_cyl

# There are 5 possible values of cylinders.

4    199
8    103
6     83
3      4
5      3
Name: cylinders, dtype: int64

We would like to generate a linear regression model that will predict mpg. To do this, first drop the `car_name` column since it does not contain any quantitative data. Next separate the dataframe to predictor and response variables. Separate those into test and training data with 80% of the data in the training set and the remainder in the test set. 

Assign the predictor and response training data to `X_train` and `y_train` respectively. Similarly, assign the predictor and response test data to `X_test` and `y_test`.

*Hint: To separate data for training and test, use the `train_test_split` method we used in previous labs.*

In [148]:
# Your code here:
data = auto_2.drop(['mpg'], axis = 1)
target = auto_2[['mpg']]

X = data
y = target

In [149]:
# Standard scaler, scales it all to a standardized value:
scaler = StandardScaler()
X_std = scaler.fit_transform(X)

X_train, X_test, y_train, y_test = train_test_split(X_std, y, test_size = 0.2, random_state = 29)

Now we will processed and peform linear regression on this data to predict the mpg for each vehicle. 

#### In the next cell, create an instance of the linear regression model and call it `auto_model`. Fit `auto_model` with your training data.

In [150]:
# Your code here:
# Create linear regression
auto_model = LinearRegression()

auto_model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [151]:
#For retrieving the slope:
print(auto_model.coef_)

#To retrieve the intercept:
print(auto_model.intercept_)

[[-1.19389228  1.4163005  -0.12305156 -5.85898946  0.17086958  2.66800665]]
[23.38156576]

# Challenge 4 - Evaluate the Model

In addition to evaluating your model with F-test and t-test, you can also use the *Coefficient of Determination* (a.k.a. *r squared score*). This method does not simply tell *yes* or *no* about the model fit but instead indicates how much variation can be explained by the model. Based on the r squared score, you can decide whether to improve your model in order to obtain a better fit.

You can learn about the r squared score [here](). Its formula is:

![R Squared](../r-squared.png)

...where:

* yi is an actual data point.
* ŷi is the corresponding data point on the estimated regression line.

By adding the squares of the difference between all yi-ŷi pairs, we have a measure called SSE (*error sum of squares*) which is an application of the r squared score to indicate the extent to which the estimated regression model is different from the actual data. And we attribute that difference to the random error that is unavoidable in the real world. Obviously, we want the SSE value to be as small as possible.

#### In the next cell, compute the predicted *y* based on `X_train` and call it `y_pred`. Then calcualte the r squared score between `y_pred` and `y_train` which indicates how well the estimated regression model fits the training data.

*Hint: r squared score can be calculated using `sklearn.metrics.r2_score` ([documentation](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.r2_score.html)).*

In [152]:
# Computing the predicted y:

y_pred = auto_model.predict(X_train)
print(y_pred)

[[15.35491755]
 [25.77088966]
 [29.96681405]
 [26.96389304]
 [33.53638604]
 [31.47413202]
 [13.38693178]
 [20.3324822 ]
 [11.46523316]
 [29.67119142]
 [25.90591849]
 [24.00161297]
 [28.75699045]
 [20.9592225 ]
 [21.68230938]
 [28.93663432]
 [30.96815514]
 [31.03848095]
 [ 8.78425838]
 [29.28952049]
 [29.65438105]
 [30.9903999 ]
 [17.65963089]
 [29.73632388]
 [24.31687131]
 [26.57835128]
 [16.62378802]
 [11.60377514]
 [11.64578659]
 [21.46631783]
 [24.81046864]
 [16.15946016]
 [34.23836446]
 [28.3273411 ]
 [23.16509045]
 [22.30334412]
 [31.17814129]
 [28.63262398]
 [32.80556238]
 [29.95041647]
 [20.79410773]
 [17.78603743]
 [28.07613129]
 [25.8466084 ]
 [10.07921286]
 [25.36439156]
 [33.84342898]
 [19.80821631]
 [24.65706209]
 [21.41771593]
 [16.90805539]
 [25.09388565]
 [11.71381641]
 [31.81830195]
 [28.91523663]
 [32.50935484]
 [22.20753564]
 [12.33412922]
 [25.8966136 ]
 [29.85961155]
 [22.40983534]
 [11.35908978]
 [27.77773334]
 [17.29758741]
 [10.50961015]
 [32.45628286]
 [10.39303695]
 [10.07880296]
 [27.25732807]
 [32.20200354]
 [31.15232983]
 [20.16097762]
 [25.10008156]
 [34.3825813 ]
 [27.90647799]
 [13.5920893 ]
 [29.84733546]
 [31.3379749 ]
 [ 8.52765201]
 [26.61085979]
 [32.07817991]
 [28.5366387 ]
 [27.45628666]
 [19.09392483]
 [26.49187387]
 [31.24318764]
 [22.97964179]
 [19.25208988]
 [24.17765816]
 [23.73509539]
 [12.13262845]
 [26.84699185]
 [33.29661475]
 [23.06712113]
 [21.32562252]
 [28.84501389]
 [20.75151787]
 [30.06496573]
 [20.63247849]
 [ 6.54171244]
 [21.89885413]
 [25.69096976]
 [ 5.40451082]
 [31.19369986]
 [22.96778757]
 [10.61943443]
 [34.32473537]
 [25.911058  ]
 [21.4163518 ]
 [23.70480052]
 [25.59232091]
 [30.57351143]
 [22.27481121]
 [30.18010204]
 [32.08762768]
 [22.74314815]
 [29.40000427]
 [26.63279081]
 [25.83442456]
 [30.96389292]
 [30.46928356]
 [29.48938851]
 [32.96014785]
 [10.00408254]
 [23.1527413 ]
 [22.64331704]
 [22.15778982]
 [31.38968375]
 [17.38393346]
 [10.59496024]
 [30.22698329]
 [25.0164959 ]
 [17.96320154]
 [28.53817952]
 [24.58188213]
 [ 8.80165907]
 [27.03837388]
 [25.68927441]
 [28.55500165]
 [27.96214753]
 [23.99838311]
 [13.64252402]
 [22.65584626]
 [26.26413692]
 [32.64331152]
 [30.94526273]
 [25.29920305]
 [12.56421774]
 [33.40550484]
 [32.86227412]
 [35.16672276]
 [15.75246305]
 [19.46892108]
 [31.01931429]
 [24.91185667]
 [32.64110115]
 [30.06736597]
 [21.98765226]
 [28.795326  ]
 [19.19318894]
 [30.58773915]
 [28.79506694]
 [20.08365459]
 [25.33389839]
 [15.2326116 ]
 [19.98996955]
 [11.34417982]
 [30.77622251]
 [25.85963273]
 [14.58754426]
 [23.84227465]
 [26.12755015]
 [21.20868854]
 [27.0342581 ]
 [34.0425873 ]
 [35.10328027]
 [23.80830236]
 [21.26792057]
 [28.55237734]
 [24.12537607]
 [15.26836649]
 [30.23618359]
 [18.93798588]
 [26.38031777]
 [27.48075935]
 [10.31725909]
 [14.6225269 ]
 [21.2397623 ]
 [22.65698463]
 [28.87613171]
 [31.8910903 ]
 [15.34892363]
 [23.5222573 ]
 [21.33515663]
 [26.96640052]
 [17.68890836]
 [34.50092618]
 [28.31364256]
 [30.53992822]
 [33.72697386]
 [20.81035652]
 [33.27679741]
 [27.78989256]
 [22.09276246]
 [29.26786071]
 [14.86223311]
 [33.35547803]
 [30.72738805]
 [16.29341795]
 [15.01662811]
 [21.5392447 ]
 [15.36060542]
 [20.98919117]
 [26.30815097]
 [13.55919177]
 [28.39492525]
 [29.01372622]
 [16.8851292 ]
 [26.12059333]
 [26.01857492]
 [32.05287707]
 [14.88969296]
 [24.59870821]
 [29.54445694]
 [22.58266148]
 [26.88094405]
 [22.32149161]
 [31.88791699]
 [25.96633607]
 [22.88902824]
 [12.21536196]
 [32.65963908]
 [25.78279728]
 [26.16713613]
 [13.18824185]
 [26.32660597]
 [34.45751644]
 [33.86121109]
 [20.35137137]
 [11.55018811]
 [30.86155467]
 [15.79079849]
 [28.91241521]
 [31.0873412 ]
 [31.11734667]
 [10.01556067]
 [26.28684692]
 [27.66593699]
 [30.75514141]
 [30.02018252]
 [20.1647417 ]
 [28.57240852]
 [15.04930637]
 [12.47728938]
 [18.05262978]
 [28.21429042]
 [31.56267351]
 [16.3615777 ]
 [23.33760447]
 [26.02426455]
 [18.91917446]
 [20.2254079 ]
 [16.15934668]
 [13.42217644]
 [15.95969577]
 [25.01545291]
 [16.87228829]
 [21.22075088]
 [30.03610708]
 [24.0483064 ]
 [ 9.74744686]
 [ 9.85670032]
 [21.34786116]
 [22.82052899]
 [28.82800297]
 [18.29083329]
 [24.71768605]
 [21.88371976]
 [16.80385529]
 [16.88617256]
 [25.41904662]
 [22.38194754]
 [20.7962262 ]
 [19.32672975]
 [23.02315522]
 [30.69163442]
 [26.52362121]
 [15.24792659]
 [21.02637209]
 [14.24016449]
 [23.79755726]
 [23.29239093]
 [ 8.04658938]
 [19.75010293]
 [25.43333324]
 [20.73734358]
 [32.12416007]
 [19.75622512]
 [25.8919341 ]
 [11.07162841]
 [12.68236195]
 [25.93815079]
 [ 8.68352542]
 [32.1942215 ]
 [29.68014796]
 [15.94256407]
 [34.53983963]
 [23.82837113]
 [29.5044543 ]
 [19.58755621]
 [17.73831198]
 [30.17129077]
 [34.58101868]]

In [153]:
# Your code here:
from sklearn.metrics import r2_score

r2_score(y_train, y_pred)

0.8143340812871364

#### Our next step is to evaluate the model using the test data. 

We would like to ensure that our model is not overfitting the data. This means that our model was made to fit too closely to the training data by being overly complex. If a model is overfitted, it is not generalizable to data outside the training data. In that case, we need to reduce the complexity of the model by removing certain features (variables).

In the cell below, use the model to generate the predicted values for the test data and assign them to `y_test_pred`. Compute the r squared score of the predicted `y_test_pred` and the oberserved `y_test` data.

In [161]:
# Your code here:

y_test_pred = auto_model.predict(X_test)
r2_score(y_test, y_test_pred)

0.7828849980108921

#### Explaining the results

The r squared scores of the training data and the test data are pretty close (0.8146 vs 0.7818). This means our model is not overfitted. However, there is still room to improve the model fit. Move on to the next challenge.

# Challenge 5 - Improve the Model Fit

While the most common way to improve the fit of a model is by using [regularization](https://datanice.github.io/machine-learning-101-what-is-regularization-interactive.html), there are other simpler ways to improve model fit. The first is to create a simpler model. The second is to increase the train sample size.

Let us start with the easier option and increase our train sample size to 90% of the data. Create a new test train split and name the new predictors and response variables `X_train09`, `X_test09`, `y_train09`, `y_test09`.

In [154]:
# Your code here:
X_train09, X_test09, y_train09, y_test09 = train_test_split(X_std, y, test_size = 0.1, random_state = 29)

Initialize a new linear regression model. Name this model `auto_model09`. Fit the model to the new sample (training) data.

In [155]:
# Your code here:
# Create linear regression
auto_model_09 = LinearRegression()

auto_model_09.fit(X_train09, y_train09)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

Compute the predicted values and r squared score for our new model and new sample data.

In [159]:
# Computing the predicted y:
from sklearn.metrics import r2_score

y_pred_09 = auto_model_09.predict(X_train09)
r2_score(y_train09, y_pred_09)

0.8097263272823888

Compute the r squared score for the smaller test set. Is there an improvement in the test r squared?

In [160]:
# Your code here:
# Using the test set to predict the r squared score:

y_pred_10 = auto_model_09.predict(X_test09)
r2_score(y_test09, y_pred_10)

# The test

0.7984290009034473

# Bonus Challenge 2 - Backward Elimination 

The main way to produce a simpler linear regression model is to reduce the number of variables used in the model. In scikit-learn, we can do this by using recursive feature elimination. You can read more about RFE [here](https://scikit-learn.org/stable/modules/generated/sklearn.feature_selection.RFE.html).

In the next cell, we will import RFE

In [ ]:
from sklearn.feature_selection import RFE

Follow the documentation and initialize an RFE model using the `auto_model` linear regression model. Set `n_features_to_select=3`

In [ ]:
# Your code here:

Fit the model and print the ranking

In [ ]:
# Your code here:

Feature importance is ranked from most important (1) to least important (4). Generate a model with the three most important features. The features correspond to variable names. For example, feature 1 is `cylinders` and feature 2 is `displacement`.

Perform a test-train split on this reduced column data and call the split data `X_train_reduced`, `X_test_reduced`, `y_test_reduced`, `y_train_reduced`. Use an 80% split.

In [ ]:
# Your code here:

Generate a new model called `auto_model_reduced` and fit this model. Then proceed to compute the r squared score for the model. Did this cause an improvement in the r squared score?

In [ ]:
# Your code here:

#### Conclusion

You may obtain the impression from this lab that without knowing statistical methods in depth, it is difficult to make major progress in machine learning. That is correct. If you are motivated to become a data scientist, statistics is the subject you must be proficient in and there is no shortcut. 

Completing these labs is not likely to make you a data scientist. But you will have a good sense about what are there in machine learning and what are good for you. In your future career, you can choose one of the three tracks:

* Data scientists who need to be proficient in statistical methods.

* Data engineers who need to be good at programming.

* Data integration specialists who are business or content experts but also understand data and programming. This cross-disciplinary track brings together data, technology, and business and will be in high demands in the next decade.