# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [1]:
# Import your libraries:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.datasets import load_diabetes
from sklearn.preprocessing import PolynomialFeatures, StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

# Challenge 1 - Explore the Scikit-Learn Datasets

Before starting to work on our own datasets, let's first explore the datasets that are included in this Python library. These datasets have been cleaned and formatted for use in ML algorithms.

First, we will load the diabetes dataset. Do this in the cell below by importing the datasets and then loading the dataset  to the `diabetes` variable using the `load_diabetes()` function ([documentation](https://scikit-learn.org/stable/modules/generated/sklearn.datasets.load_diabetes.html)).

In [2]:
# Your code here:
diabetes = load_diabetes()

Let's explore this variable by looking at the different attributes (keys) of `diabetes`. Note that the `load_diabetes` function does not return dataframes. It returns you a Python dictionary.

In [3]:
print(diabetes.keys())

dict_keys(['data', 'target', 'DESCR', 'feature_names', 'data_filename', 'target_filename'])

#### The next step is to read the description of the dataset. 

Print the description in the cell below using the `DESCR` attribute of the `diabetes` variable. Read the data description carefully to fully understand what each column represents.

*Hint: If your output is ill-formatted by displaying linebreaks as `\n`, it means you are not using the `print` function.*

In [4]:
print(diabetes.DESCR)

.. _diabetes_dataset:

Diabetes dataset
----------------

Ten baseline variables, age, sex, body mass index, average blood
pressure, and six blood serum measurements were obtained for each of n =
442 diabetes patients, as well as the response of interest, a
quantitative measure of disease progression one year after baseline.

**Data Set Characteristics:**

  :Number of Instances: 442

  :Number of Attributes: First 10 columns are numeric predictive values

  :Target: Column 11 is a quantitative measure of disease progression one year after baseline

  :Attribute Information:
      - Age
      - Sex
      - Body mass index
      - Average blood pressure
      - S1
      - S2
      - S3
      - S4
      - S5
      - S6

Note: Each of these 10 feature variables have been mean centered and scaled by the standard deviation times `n_samples` (i.e. the sum of squares of each column totals 1).

Source URL:
https://www4.stat.ncsu.edu/~boos/var.select/diabetes.html

For more information see:
Bradley Efron, Trevor Hastie, Iain Johnstone and Robert Tibshirani (2004) "Least Angle Regression," Annals of Statistics (with discussion), 407-499.
(https://web.stanford.edu/~hastie/Papers/LARS/LeastAngle_2002.pdf)

#### Based on the data description, answer the following questions:

1. How many attributes are there in the data? What do they mean?

1. What is the relation between `diabetes['data']` and `diabetes['target']`?

1. How many records are there in the data?

In [5]:
# Enter your answer here:
'''
There are 10 attributes which are numeric predictive values.
The target is a quantitative measure of disease progression one year after baseline (the target variable).
There are 442 records.'''

'\nThere are 10 attributes which are numeric predictive values.\nThe target is a quantitative measure of disease progression one year after baseline (the target variable).\nThere are 442 records.'

#### Now explore what are contained in the *data* portion as well as the *target* portion of `diabetes`. 

Scikit-learn typically takes in 2D numpy arrays as input (though pandas dataframes are also accepted). Inspect the shape of `data` and `target`. Confirm they are consistent with the data description.

In [6]:
# Your code here:
print(diabetes['data'].shape)
print(diabetes['target'].shape)
#these are consistent with the description

(442, 10)
(442,)

# Challenge 2 - Perform Supervised Learning on the Dataset

The data have already been split to predictor (*data*) and response (*target*) variables. Given this information, we'll apply what we have previously learned about linear regression and apply the algorithm to the diabetes dataset.

#### Let's briefly revisit the linear regression formula:

```
y = β0 + β1X1 + β2X2 + ... + βnXn + ϵ
```

...where:

- X1-Xn: data 
- β0: intercept 
- β1-βn: coefficients 
- ϵ: error (cannot explained by model)
- y: target

Also take a look at the `sklearn.linear_model.LinearRegression` [documentation](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LinearRegression.html).

#### In the cell below, import the `linear_model` class from `sklearn`.

In [7]:
# Your code here:
#done above

#### Create a new instance of the linear regression model and assign the new instance to the variable `diabetes_model`.

In [8]:
X = diabetes.data
y = diabetes.target

In [16]:
# Create linear regression
regr = LinearRegression()

# Fit the linear regression
diabetes_model = regr.fit(X, y)

#### Next, let's split the training and test data.

Define `diabetes_data_train`, `diabetes_target_train`, `diabetes_data_test`, and `diabetes_target_test`. Use the last 20 records for the test data and the rest for the training data.

In [17]:
scaler = StandardScaler()
X_std = scaler.fit_transform(X)

In [21]:
# Your code here:
diabetes_data_train, diabetes_data_test, diabetes_target_train, diabetes_target_test = train_test_split(X_std, y, test_size=0.20, random_state = 29)

Fit the training data and target to `diabetes_model`. Print the *intercept* and *coefficients* of the model.

In [22]:
# Your code here:
diabetes_model = regr.fit(diabetes_data_train, diabetes_target_train)

In [23]:
print('intercept:', diabetes_model.intercept_)
print('coefficients:', diabetes_model.coef_)

intercept: 149.3212754871327
coefficients: [ -0.716214    -9.80214909  23.67014997  16.0765105  -20.3926404
   8.66971557  -2.1040816    7.48350706  26.85819998   4.76680154]

#### Inspecting the results

From the outputs you should have seen:

- The intercept is a float number.
- The coefficients are an array containing 10 float numbers.

This is the linear regression model fitted to your training dataset.

#### Using your fitted linear regression model, predict the *y* of `diabetes_data_test`.

In [25]:
# Your code here:
y_pred = diabetes_model.predict(diabetes_data_test)
print('predicted response:', y_pred, sep='\n')

predicted response:
[280.32795004 250.93822202 182.91735295  51.35511165  96.19850509
 144.45038619  87.34493183 102.7640533  158.84330012  72.4244309
 158.07664431 225.21403674 101.86903444 181.53649689 138.42104261
 108.69935967  63.06775006 119.34746247 191.74748964 109.36137923
 147.06927249 224.07512248 213.32172638 121.61064042 182.10836468
 111.09019675  71.94030442 230.71292666 111.52367569 104.57817082
 224.92888734 122.97560738 160.64080895 210.41948164 139.97643899
 107.37173617 234.44687776 120.77878749 156.48401972 164.43956665
 167.10577769 282.80246324  61.86608922  65.71783101 195.43511428
  88.87583365 160.49093483 169.77044533 111.29420069 238.36021058
 104.94000725  96.15615802 195.31093559 138.94078567 149.19728694
 117.15604296 256.72878829 254.73966304  98.46726985 185.73579067
 138.65971675 107.60372995 199.35267696 255.64991441 158.24702536
 142.59151378 260.14073217 238.08025459 142.82855361 160.64323232
 110.13379352 204.15967451 112.0884758  173.65185201 135.00044207
  94.90285713 141.19178534 114.26726563 224.4583901   46.625856
 126.7619486  250.77074161 108.80027035 176.2297549  127.99881262
 203.6207496   69.39401308 156.21790883 155.44264184]

#### Print your `diabetes_target_test` and compare with the prediction.

In [26]:
# Your code here:
diabetes_target_test

array([230., 336., 283., 104., 125., 134.,  55., 142., 206.,  83., 185.,
       317.,  47., 283., 185.,  69.,  52.,  92., 272., 102.,  81., 268.,
       173., 191., 101., 179., 134., 272., 183., 111., 208., 111., 258.,
       275., 187., 108., 281., 144., 237., 235., 235., 270.,  99.,  59.,
       248., 115., 141., 216.,  61., 252., 152.,  88., 222., 142., 276.,
       168., 346., 277., 101., 232., 182.,  87., 265., 341., 104.,  61.,
       263., 215., 202., 128., 102., 150.,  71.,  85.,  60.,  94.,  25.,
        68., 152.,  72., 103., 242.,  71., 107., 214., 249.,  43., 252.,
       156.])

#### Is `diabetes_target_test` exactly the same as the model prediction? Explain.

In [ ]:
# Your explanation here:
#the only similarities are the type (floats) and the range

# Bonus Challenge 1 - Hypothesis Testing with `statsmodels`

After generating the linear regression model from the dataset, you probably wonder: then what? What is the statistical way to know if my model is reliable or not?

Good question. We'll discuss that using Scikit-Learn in Challenge 5. But for now, let's use a fool-proof way by using the ([Linear Regression class of StatsModels](https://www.statsmodels.org/dev/regression.html)) which can also conduct linear regression analysis plus much more such as calcuating the F-score of the linear model as well as the standard errors and t-scores for each coefficient. The F-score and t-scores will tell you whether you can trust your linear model.

To understand the statistical meaning of conducting hypothesis testing (e.g. F-test, t-test) for slopes, read [this webpage](https://onlinecourses.science.psu.edu/stat501/node/297/) at your leisure time. We'll give you a brief overview next.

* The F-test of your linear model is to verify whether at least one of your coefficients is significantly different from zero. Translating that into the *null hypothesis* and *alternative hypothesis*, that is:

    ```
    H0 : β1 = β2 = ... = β10 = 0
    HA : At least one βj ≠ 0 (for j = 1, 2, ..., 10)
    ```

* The t-tests on each coefficient is to check whether the confidence interval for the variable contains zero. If the confidence interval contains zero, it means the null hypothesis for that variable is not rejected. In other words, this particular vaiable is not contributing to your linear model and you can remove it from your formula.

Read the documentations of [StatsModels Linear Regression](https://www.statsmodels.org/dev/regression.html) as well as its [`OLS` class](https://www.statsmodels.org/dev/generated/statsmodels.regression.linear_model.OLS.html) which stands for *ordinary least squares*.

#### In the next cell, analyze `diabetes_data_train` and `diabetes_target_train` with the linear regression model of `statsmodels`. Print the fit summary.

Your output should look like:

![statsmodels regression](../statsmodels.png)

In [ ]:
# Your code here:

#### Interpreting hypothesis testing results

Answer the following questions in the cell below:

1. What is the F-score of your linear model and is the null hypothesis rejected?

1. Does any of the t-tests of the coefficients produce a confidence interval containing zero? What are they?

1. How will you modify your linear reguression model according to the test results above?

In [ ]:
# Your answers here:

# Challenge 3 - Peform Supervised Learning on a Pandas Dataframe

Now that we have dealt with data that has been formatted for scikit-learn, let's look at data that we will need to format ourselves.

In the next cell, load the `auto-mpg.csv` file included in this folder and assign it to a variable called `auto`.

In [27]:
# Your code here:
auto = pd.read_csv('auto-mpg.csv')

Look at the first 5 rows using the `head()` function:

In [28]:
# Your code here:
auto.head()

,mpg,cylinders,displacement,horse_power,weight,acceleration,model_year,car_name
0,18.0,8,307.0,130.0,3504,12.0,70,"\t""chevrolet chevelle malibu"""
1,15.0,8,350.0,165.0,3693,11.5,70,"\t""buick skylark 320"""
2,18.0,8,318.0,150.0,3436,11.0,70,"\t""plymouth satellite"""
3,16.0,8,304.0,150.0,3433,12.0,70,"\t""amc rebel sst"""
4,17.0,8,302.0,140.0,3449,10.5,70,"\t""ford torino"""

Evaluate the data to ensure that all numeric columns are correctly detected as such by pandas. If a column is misclassified as object, coerce it to numeric.

In [29]:
# Your code here:
auto.dtypes

mpg             float64
cylinders         int64
displacement    float64
horse_power     float64
weight            int64
acceleration    float64
model_year        int64
car_name         object
dtype: object

In [30]:
auto.car_name.unique()

array(['\t"chevrolet chevelle malibu"', '\t"buick skylark 320"',
       '\t"plymouth satellite"', '\t"amc rebel sst"', '\t"ford torino"',
       '\t"ford galaxie 500"', '\t"chevrolet impala"',
       '\t"plymouth fury iii"', '\t"pontiac catalina"',
       '\t"amc ambassador dpl"', '\t"dodge challenger se"',
       '\t"plymouth \'cuda 340"', '\t"chevrolet monte carlo"',
       '\t"buick estate wagon (sw)"', '\t"toyota corona mark ii"',
       '\t"plymouth duster"', '\t"amc hornet"', '\t"ford maverick"',
       '\t"datsun pl510"', '\t"volkswagen 1131 deluxe sedan"',
       '\t"peugeot 504"', '\t"audi 100 ls"', '\t"saab 99e"',
       '\t"bmw 2002"', '\t"amc gremlin"', '\t"ford f250"',
       '\t"chevy c20"', '\t"dodge d200"', '\t"hi 1200d"',
       '\t"chevrolet vega 2300"', '\t"toyota corona"', '\t"ford pinto"',
       '\t"plymouth satellite custom"', '\t"ford torino 500"',
       '\t"amc matador"', '\t"pontiac catalina brougham"',
       '\t"dodge monaco (sw)"', '\t"ford country squire (sw)"',
       '\t"pontiac safari (sw)"', '\t"amc hornet sportabout (sw)"',
       '\t"chevrolet vega (sw)"', '\t"pontiac firebird"',
       '\t"ford mustang"', '\t"mercury capri 2000"', '\t"opel 1900"',
       '\t"peugeot 304"', '\t"fiat 124b"', '\t"toyota corolla 1200"',
       '\t"datsun 1200"', '\t"volkswagen model 111"',
       '\t"plymouth cricket"', '\t"toyota corona hardtop"',
       '\t"dodge colt hardtop"', '\t"volkswagen type 3"',
       '\t"chevrolet vega"', '\t"ford pinto runabout"',
       '\t"amc ambassador sst"', '\t"mercury marquis"',
       '\t"buick lesabre custom"', '\t"oldsmobile delta 88 royale"',
       '\t"chrysler newport royal"', '\t"mazda rx2 coupe"',
       '\t"amc matador (sw)"', '\t"chevrolet chevelle concours (sw)"',
       '\t"ford gran torino (sw)"', '\t"plymouth satellite custom (sw)"',
       '\t"volvo 145e (sw)"', '\t"volkswagen 411 (sw)"',
       '\t"peugeot 504 (sw)"', '\t"renault 12 (sw)"',
       '\t"ford pinto (sw)"', '\t"datsun 510 (sw)"',
       '\t"toyouta corona mark ii (sw)"', '\t"dodge colt (sw)"',
       '\t"toyota corolla 1600 (sw)"', '\t"buick century 350"',
       '\t"chevrolet malibu"', '\t"ford gran torino"',
       '\t"dodge coronet custom"', '\t"mercury marquis brougham"',
       '\t"chevrolet caprice classic"', '\t"ford ltd"',
       '\t"plymouth fury gran sedan"', '\t"chrysler new yorker brougham"',
       '\t"buick electra 225 custom"', '\t"amc ambassador brougham"',
       '\t"plymouth valiant"', '\t"chevrolet nova custom"',
       '\t"volkswagen super beetle"', '\t"ford country"',
       '\t"plymouth custom suburb"', '\t"oldsmobile vista cruiser"',
       '\t"toyota carina"', '\t"datsun 610"', '\t"maxda rx3"',
       '\t"mercury capri v6"', '\t"fiat 124 sport coupe"',
       '\t"chevrolet monte carlo s"', '\t"pontiac grand prix"',
       '\t"fiat 128"', '\t"opel manta"', '\t"audi 100ls"',
       '\t"volvo 144ea"', '\t"dodge dart custom"', '\t"saab 99le"',
       '\t"toyota mark ii"', '\t"oldsmobile omega"', '\t"chevrolet nova"',
       '\t"datsun b210"', '\t"chevrolet chevelle malibu classic"',
       '\t"plymouth satellite sebring"', '\t"buick century luxus (sw)"',
       '\t"dodge coronet custom (sw)"', '\t"audi fox"',
       '\t"volkswagen dasher"', '\t"datsun 710"', '\t"dodge colt"',
       '\t"fiat 124 tc"', '\t"honda civic"', '\t"subaru"',
       '\t"fiat x1.9"', '\t"plymouth valiant custom"',
       '\t"mercury monarch"', '\t"chevrolet bel air"',
       '\t"plymouth grand fury"', '\t"buick century"',
       '\t"chevroelt chevelle malibu"', '\t"plymouth fury"',
       '\t"buick skyhawk"', '\t"chevrolet monza 2+2"',
       '\t"ford mustang ii"', '\t"toyota corolla"', '\t"pontiac astro"',
       '\t"volkswagen rabbit"', '\t"amc pacer"', '\t"volvo 244dl"',
       '\t"honda civic cvcc"', '\t"fiat 131"', '\t"capri ii"',
       '\t"renault 12tl"', '\t"dodge coronet brougham"',
       '\t"chevrolet chevette"', '\t"chevrolet woody"', '\t"vw rabbit"',
       '\t"dodge aspen se"', '\t"ford granada ghia"',
       '\t"pontiac ventura sj"', '\t"amc pacer d/l"', '\t"datsun b-210"',
       '\t"volvo 245"', '\t"plymouth volare premier v8"',
       '\t"mercedes-benz 280s"', '\t"cadillac seville"', '\t"chevy c10"',
       '\t"ford f108"', '\t"dodge d100"', '\t"honda accord cvcc"',
       '\t"buick opel isuzu deluxe"', '\t"renault 5 gtl"',
       '\t"plymouth arrow gs"', '\t"datsun f-10 hatchback"',
       '\t"oldsmobile cutlass supreme"', '\t"dodge monaco brougham"',
       '\t"mercury cougar brougham"', '\t"chevrolet concours"',
       '\t"buick skylark"', '\t"plymouth volare custom"',
       '\t"ford granada"', '\t"pontiac grand prix lj"',
       '\t"chevrolet monte carlo landau"', '\t"chrysler cordoba"',
       '\t"ford thunderbird"', '\t"volkswagen rabbit custom"',
       '\t"pontiac sunbird coupe"', '\t"toyota corolla liftback"',
       '\t"ford mustang ii 2+2"', '\t"dodge colt m/m"', '\t"subaru dl"',
       '\t"datsun 810"', '\t"bmw 320i"', '\t"mazda rx-4"',
       '\t"volkswagen rabbit custom diesel"', '\t"ford fiesta"',
       '\t"mazda glc deluxe"', '\t"datsun b210 gx"',
       '\t"oldsmobile cutlass salon brougham"', '\t"dodge diplomat"',
       '\t"mercury monarch ghia"', '\t"pontiac phoenix lj"',
       '\t"ford fairmont (auto)"', '\t"ford fairmont (man)"',
       '\t"plymouth volare"', '\t"amc concord"',
       '\t"buick century special"', '\t"mercury zephyr"',
       '\t"dodge aspen"', '\t"amc concord d/l"',
       '\t"buick regal sport coupe (turbo)"', '\t"ford futura"',
       '\t"dodge magnum xe"', '\t"datsun 510"', '\t"dodge omni"',
       '\t"toyota celica gt liftback"', '\t"plymouth sapporo"',
       '\t"oldsmobile starfire sx"', '\t"datsun 200-sx"', '\t"audi 5000"',
       '\t"volvo 264gl"', '\t"saab 99gle"', '\t"peugeot 604sl"',
       '\t"volkswagen scirocco"', '\t"honda accord lx"',
       '\t"pontiac lemans v6"', '\t"mercury zephyr 6"',
       '\t"ford fairmont 4"', '\t"amc concord dl 6"', '\t"dodge aspen 6"',
       '\t"ford ltd landau"', '\t"mercury grand marquis"',
       '\t"dodge st. regis"', '\t"chevrolet malibu classic (sw)"',
       '\t"chrysler lebaron town @ country (sw)"', '\t"vw rabbit custom"',
       '\t"maxda glc deluxe"', '\t"dodge colt hatchback custom"',
       '\t"amc spirit dl"', '\t"mercedes benz 300d"',
       '\t"cadillac eldorado"', '\t"plymouth horizon"',
       '\t"plymouth horizon tc3"', '\t"datsun 210"',
       '\t"fiat strada custom"', '\t"buick skylark limited"',
       '\t"chevrolet citation"', '\t"oldsmobile omega brougham"',
       '\t"pontiac phoenix"', '\t"toyota corolla tercel"',
       '\t"datsun 310"', '\t"ford fairmont"', '\t"audi 4000"',
       '\t"toyota corona liftback"', '\t"mazda 626"',
       '\t"datsun 510 hatchback"', '\t"mazda glc"',
       '\t"vw rabbit c (diesel)"', '\t"vw dasher (diesel)"',
       '\t"audi 5000s (diesel)"', '\t"mercedes-benz 240d"',
       '\t"honda civic 1500 gl"', '\t"renault lecar deluxe"',
       '\t"vokswagen rabbit"', '\t"datsun 280-zx"', '\t"mazda rx-7 gs"',
       '\t"triumph tr7 coupe"', '\t"ford mustang cobra"',
       '\t"honda accord"', '\t"plymouth reliant"',
       '\t"dodge aries wagon (sw)"', '\t"toyota starlet"',
       '\t"plymouth champ"', '\t"honda civic 1300"', '\t"datsun 210 mpg"',
       '\t"toyota tercel"', '\t"mazda glc 4"', '\t"plymouth horizon 4"',
       '\t"ford escort 4w"', '\t"ford escort 2h"', '\t"volkswagen jetta"',
       '\t"renault 18i"', '\t"honda prelude"', '\t"datsun 200sx"',
       '\t"peugeot 505s turbo diesel"', '\t"volvo diesel"',
       '\t"toyota cressida"', '\t"datsun 810 maxima"',
       '\t"oldsmobile cutlass ls"', '\t"ford granada gl"',
       '\t"chrysler lebaron salon"', '\t"chevrolet cavalier"',
       '\t"chevrolet cavalier wagon"', '\t"chevrolet cavalier 2-door"',
       '\t"pontiac j2000 se hatchback"', '\t"dodge aries se"',
       '\t"ford fairmont futura"', '\t"amc concord dl"',
       '\t"volkswagen rabbit l"', '\t"mazda glc custom l"',
       '\t"mazda glc custom"', '\t"plymouth horizon miser"',
       '\t"mercury lynx l"', '\t"nissan stanza xe"',
       '\t"honda civic (auto)"', '\t"datsun 310 gx"',
       '\t"buick century limited"',
       '\t"oldsmobile cutlass ciera (diesel)"',
       '\t"chrysler lebaron medallion"', '\t"ford granada l"',
       '\t"toyota celica gt"', '\t"dodge charger 2.2"',
       '\t"chevrolet camaro"', '\t"ford mustang gl"', '\t"vw pickup"',
       '\t"dodge rampage"', '\t"ford ranger"', '\t"chevy s-10"'],
      dtype=object)

What is the newest model year and the oldest model year?

In [31]:
# Your code here:
print(auto['model_year'].min())
print(auto['model_year'].max())

70
82

Check the dataset for missing values and remove all rows containing at least one missing value.

In [32]:
# Your code here:
auto.isna().sum()

mpg             0
cylinders       0
displacement    0
horse_power     6
weight          0
acceleration    0
model_year      0
car_name        0
dtype: int64

In [33]:
auto.dropna(inplace=True)

In [34]:
auto.isna().sum()

mpg             0
cylinders       0
displacement    0
horse_power     0
weight          0
acceleration    0
model_year      0
car_name        0
dtype: int64

Find the frequency table for the `cylinders` column using the `value_counts()` function. How many possible values of cylinders are there?

In [35]:
# Your code here:
auto.cylinders.value_counts()

4    199
8    103
6     83
3      4
5      3
Name: cylinders, dtype: int64

We would like to generate a linear regression model that will predict mpg. To do this, first drop the `car_name` column since it does not contain any quantitative data. Next separate the dataframe to predictor and response variables. Separate those into test and training data with 80% of the data in the training set and the remainder in the test set. 

Assign the predictor and response training data to `X_train` and `y_train` respectively. Similarly, assign the predictor and response test data to `X_test` and `y_test`.

*Hint: To separate data for training and test, use the `train_test_split` method we used in previous labs.*

In [36]:
# Your code here:
ch2 = auto.drop(auto.columns[7], axis=1)

In [37]:
ch2

,mpg,cylinders,displacement,horse_power,weight,acceleration,model_year
0,18.0,8,307.0,130.0,3504,12.0,70
1,15.0,8,350.0,165.0,3693,11.5,70
2,18.0,8,318.0,150.0,3436,11.0,70
3,16.0,8,304.0,150.0,3433,12.0,70
4,17.0,8,302.0,140.0,3449,10.5,70
...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82
394,44.0,4,97.0,52.0,2130,24.6,82
395,32.0,4,135.0,84.0,2295,11.6,82
396,28.0,4,120.0,79.0,2625,18.6,82
397,31.0,4,119.0,82.0,2720,19.4,82

Now we will processed and peform linear regression on this data to predict the mpg for each vehicle. 

#### In the next cell, create an instance of the linear regression model and call it `auto_model`. Fit `auto_model` with your training data.

In [38]:
y = ch2['mpg']

In [39]:
X = ch2.drop(['mpg'], axis = 1)

In [43]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state=29)

In [44]:
# Your code here:
auto_model = LinearRegression().fit(X, y)

# Challenge 4 - Evaluate the Model

In addition to evaluating your model with F-test and t-test, you can also use the *Coefficient of Determination* (a.k.a. *r squared score*). This method does not simply tell *yes* or *no* about the model fit but instead indicates how much variation can be explained by the model. Based on the r squared score, you can decide whether to improve your model in order to obtain a better fit.

You can learn about the r squared score [here](). Its formula is:

![R Squared](../r-squared.png)

...where:

* yi is an actual data point.
* ŷi is the corresponding data point on the estimated regression line.

By adding the squares of the difference between all yi-ŷi pairs, we have a measure called SSE (*error sum of squares*) which is an application of the r squared score to indicate the extent to which the estimated regression model is different from the actual data. And we attribute that difference to the random error that is unavoidable in the real world. Obviously, we want the SSE value to be as small as possible.

#### In the next cell, compute the predicted *y* based on `X_train` and call it `y_pred`. Then calcualte the r squared score between `y_pred` and `y_train` which indicates how well the estimated regression model fits the training data.

*Hint: r squared score can be calculated using `sklearn.metrics.r2_score` ([documentation](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.r2_score.html)).*

In [45]:
# Your code here:
y_pred = auto_model.predict(X_train)
r2_score(y_train, y_pred)

0.8131695519023594

#### Our next step is to evaluate the model using the test data. 

We would like to ensure that our model is not overfitting the data. This means that our model was made to fit too closely to the training data by being overly complex. If a model is overfitted, it is not generalizable to data outside the training data. In that case, we need to reduce the complexity of the model by removing certain features (variables).

In the cell below, use the model to generate the predicted values for the test data and assign them to `y_test_pred`. Compute the r squared score of the predicted `y_test_pred` and the oberserved `y_test` data.

In [46]:
# Your code here:
y_test_pred = auto_model.predict(X_test)
r2_score(y_test, y_test_pred)

0.792360621919583

#### Explaining the results

The r squared scores of the training data and the test data are pretty close (0.8146 vs 0.7818). This means our model is not overfitted. However, there is still room to improve the model fit. Move on to the next challenge.

# Challenge 5 - Improve the Model Fit

While the most common way to improve the fit of a model is by using [regularization](https://datanice.github.io/machine-learning-101-what-is-regularization-interactive.html), there are other simpler ways to improve model fit. The first is to create a simpler model. The second is to increase the train sample size.

Let us start with the easier option and increase our train sample size to 90% of the data. Create a new test train split and name the new predictors and response variables `X_train09`, `X_test09`, `y_train09`, `y_test09`.

In [47]:
# Your code here:
X_train09, X_test09, y_train09, y_test09 = train_test_split(X, y, test_size = 0.1, random_state=29)

Initialize a new linear regression model. Name this model `auto_model09`. Fit the model to the new sample (training) data.

In [48]:
# Your code here:
auto_model09 = LinearRegression().fit(X, y)

Compute the predicted values and r squared score for our new model and new sample data.

In [49]:
# Your code here:
y_pred09 = auto_model.predict(X_train09)
r2_score(y_train09, y_pred09)

0.8093708304345517

Compute the r squared score for the smaller test set. Is there an improvement in the test r squared?

In [50]:
# Your code here:
y_pred2 = auto_model.predict(X_test)
r2_score(y_test, y_pred2)

0.792360621919583

# Bonus Challenge 2 - Backward Elimination 

The main way to produce a simpler linear regression model is to reduce the number of variables used in the model. In scikit-learn, we can do this by using recursive feature elimination. You can read more about RFE [here](https://scikit-learn.org/stable/modules/generated/sklearn.feature_selection.RFE.html).

In the next cell, we will import RFE

In [ ]:
from sklearn.feature_selection import RFE

Follow the documentation and initialize an RFE model using the `auto_model` linear regression model. Set `n_features_to_select=3`

In [ ]:
# Your code here:

Fit the model and print the ranking

In [ ]:
# Your code here:

Feature importance is ranked from most important (1) to least important (4). Generate a model with the three most important features. The features correspond to variable names. For example, feature 1 is `cylinders` and feature 2 is `displacement`.

Perform a test-train split on this reduced column data and call the split data `X_train_reduced`, `X_test_reduced`, `y_test_reduced`, `y_train_reduced`. Use an 80% split.

In [ ]:
# Your code here:

Generate a new model called `auto_model_reduced` and fit this model. Then proceed to compute the r squared score for the model. Did this cause an improvement in the r squared score?

In [ ]:
# Your code here:

#### Conclusion

You may obtain the impression from this lab that without knowing statistical methods in depth, it is difficult to make major progress in machine learning. That is correct. If you are motivated to become a data scientist, statistics is the subject you must be proficient in and there is no shortcut. 

Completing these labs is not likely to make you a data scientist. But you will have a good sense about what are there in machine learning and what are good for you. In your future career, you can choose one of the three tracks:

* Data scientists who need to be proficient in statistical methods.

* Data engineers who need to be good at programming.

* Data integration specialists who are business or content experts but also understand data and programming. This cross-disciplinary track brings together data, technology, and business and will be in high demands in the next decade.